body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: red;
}

h1#title {
    font-family: "Apple Chancery", cursive;
    text-align: center;
    margin: 0;
    padding: 8px;
    color: gold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: beige;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

#cells-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 10px solid rgb(143, 141, 141);
    border-radius: 15px;
}